<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Shopping List</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span class="id-column">Item</span>
          <span>character</span>
        </div>
        <% const items = [
          {id: 1, name: 'potatoes', character: 'White and yellow'},
          {id: 2, name: 'tomatoes',  character: 'red and watery'},
          {id: 3, name: 'peper',  character: 'red and yellow'},
          {id: 4, name: 'big bread',  character: 'White and ashy'}
          ]
        %>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <span class="id-column"><%= item.id %></span>
              <span class="name-column new"><%= item.name %></span>
              <span class="name-column"><%= item.character %></span>
            </li>

          <% }); %>
          
        </ul>

      </div>
    </div>
  </body>
</html>